dsl/test-chatflow.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: test-chatflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/openrouter:0.0.37@e3a3062bcf83de0e03f204f2bc8830e3c6b69ec3948b136b168b51abd9249b18
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      - document
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1773201420284-source-1773217279263-target
      source: '1773201420284'
      sourceHandle: source
      target: '1773217279263'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: 1773217279263-true-1773217251772-target
      source: '1773217279263'
      sourceHandle: 'true'
      target: '1773217251772'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1773217279263-false-llm-target
      source: '1773217279263'
      sourceHandle: 'false'
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1773217251772-source-17732214687830-target
      source: '1773217251772'
      sourceHandle: source
      target: '17732214687830'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17732214687830-source-answer-target
      source: '17732214687830'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: llm-source-17736378239510-target
      source: llm
      sourceHandle: source
      target: '17736378239510'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 73
      id: '1773201420284'
      position:
        x: 0
        y: 80
      positionAbsolute:
        x: 0
        y: 80
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}

            '
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek/deepseek-chat-v3.1
          provider: langgenius/openrouter/openrouter
        prompt_template:
        - id: 8e0f30b4-943a-47d6-9602-e0a4b029d6e3
          role: system
          text: you are a helpful assistant
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 1362.1695513263908
        y: 246.83672768171047
      positionAbsolute:
        x: 1362.1695513263908
        y: 246.83672768171047
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: /{{#17732214687830.text#}}
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 1821.9372860409749
        y: -3.490746698872343
      positionAbsolute:
        x: 1821.9372860409749
        y: -3.490746698872343
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: true
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 104
      id: '1773217251772'
      position:
        x: 821.5218055287017
        y: -3.490746698872343
      positionAbsolute:
        x: 821.5218055287017
        y: -3.490746698872343
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: d004e323-6016-40dc-abeb-8542116e0981
            sub_variable_condition:
              case_id: 03241f88-8f6c-4bf8-872f-75cc303f4bd6
              conditions: []
              logical_operator: and
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 124
      id: '1773217279263'
      position:
        x: 342
        y: 55
      positionAbsolute:
        x: 342
        y: 55
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            # file content

            {{#1773217251772.text#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek/deepseek-chat-v3.1
          provider: langgenius/openrouter/openrouter
        prompt_template:
        - id: 8e0f30b4-943a-47d6-9602-e0a4b029d6e3
          role: system
          text: you are a helpful assistant
        selected: false
        title: LLM (1)
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17732214687830'
      position:
        x: 1362.1695513263908
        y: 48.73313954336743
      positionAbsolute:
        x: 1362.1695513263908
        y: 48.73313954336743
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: 直接回复 (1)
        type: answer
        variables: []
      height: 103
      id: '17736378239510'
      position:
        x: 1835.994045625319
        y: 277.60516030066026
      positionAbsolute:
        x: 1835.994045625319
        y: 277.60516030066026
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -1049.9352646670618
      y: 408.9865801295987
      zoom: 0.7709642897014596
  rag_pipeline_variables: []
